body {
    background-color: lightblue;
}
h1 {
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.container div {
    border: 2px solid black;
    /* width: 300px;
    height: 300px;   */
    display: flex;
    flex: 1 1 auto;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}